.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Montserrat', sans-serif; 
  max-width: 100%;
}

.mainWidth{
  max-width: 100%;
  position: relative;
  left: 100px;
  top: 50px;
  display: flex;
  gap: 100px;
 flex-wrap: wrap;
 flex-grow: 0;
 flex-direction: row;
}
/* .testingGrid{
  
  
} */

.cardWidth{
  border-radius: 7px ;
  box-shadow:1px 1px 2px 1px lightgray;
width: 400px;
  height: 480px;
  text-align: justify;
  font-size: 12px;
  padding: 8px 18px 0px 18px;

}
.img{
  width: 400px;
  height: 250px;
  border-radius: 10px ;
  

}
.footer{
  position: relative;
  left: 10px;
  display: flex;
  gap: 250px;
}

.imgEditing{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 7px ;
  opacity: 1;
  
}
.text{
  color: White;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight:bolder;
}

.textOnHover{
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:black;
  opacity: 0;
  border-radius: 7px;

}
.textOnHover:hover{
  opacity: 0.65;
  text-decoration: none;

}
a{
  color:white;
  text-decoration: none;
}